#!name=套路SM VIP解锁@ios151
#!desc=绕过 60 秒预览，注入完整视频与 SenPlayer 下载
#!author=ios151
#!homepage=https://github.com/ios151
#!date=2026-05-12

^https?:\/\/(?:www\.)?tlsm\.one\/v\/\d+(?:[\/?#]|$) url script-response-body https://raw.githubusercontent.com/ios151/Rewrite/refs/heads/main/tlsm.js
^https?:\/\/(?:www\.)?taolusm\.com\/v\/\d+(?:[\/?#]|$) url script-response-body https://raw.githubusercontent.com/ios151/Rewrite/refs/heads/main/tlsm.js
^https?:\/\/(?:www\.)?itaolu\.com\/v\/\d+(?:[\/?#]|$) url script-response-body https://raw.githubusercontent.com/ios151/Rewrite/refs/heads/main/tlsm.js

hostname = tlsm.one, www.tlsm.one, taolusm.com, www.taolusm.com, itaolu.com, www.itaolu.com
